doctype 5
html(lang="en")
  head
    title= pageTitle
    link(href='/css/style.css')
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    h1 Adding two numbers using node, hard?
    div
        p #{result}