doctype 5
html(lang="en")
  head
    title= pageTitle
    link(href='/bootstrap/less/bootstrap.css', rel='stylesheet')
    link(href='/bootstrap/less/responsive.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    script(src='/js/ftt.ugly.js')     
  body
    .container-fluid
        h1 Home
        .well.hero-unit
            p
                a(href='/trello') Trello
            p
                a(href='/toggl') Toggl
            p
                | asd
                | wqr
    script
         (function() {
           var ftt = new FTT(); 
         })();