doctype 5
html(lang="en")
  head
    title= pageTitle
    link(href='/css/style.css')
    script(type='text/javascript')
      if (foo) {
         bar()
      }
  body
    h1 Jade - node template engine
    div
        a(href='/add/42/8') Dodaj liczby!