doctype 5
html(lang="en")
  head
    title= pageTitle
    link(href='/bootstrap/less/bootstrap.css', rel='stylesheet')
    link(href='/bootstrap/less/bootstrap-responsive.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    script(type='text/javascript')     
  body
    .container-fluid
        h1 Toggl
        .well.hero-unit
            p
                Toggl